<span style='color: #000' title='Frames'>   117</span><span style='color: #009' title='Memory'>  11520.00 KB</span><span style='color: #900' title='Time'>   2344.39 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />