/******************************************************************
Site Name: MEAT
Author: Eivin + Andrew

Stylesheet: Main Stylesheet

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.
******************************************************************/
/*! normalize.css 2012-07-07T09:50 UTC - http://github.com/necolas/normalize.css */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE6/7/8/9 & FF3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

/*
 * Corrects `inline-block` display not defined in IE6/7/8/9 & FF3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/*
 * Addresses styling for `hidden` attribute not present in IE7/8/9, FF3, S4.
 * Known issue: no IE6 support.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/*
 * Addresses margins handled incorrectly in IE6/7.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7.
 * Addresses font sizes within `section` and `article` in FF4+, Chrome, S5.
 */
/*

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}

h6 {
    font-size: 0.75em;
    margin: 2.33em 0;
}
*/
/*
 * Addresses styling not present in IE7/8/9, S5, Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to `bolder` in FF3+, S4/5, Chrome.
 */
b,
strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

/*
 * Addresses styling not present in S5, Chrome.
 */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/*
 * Addresses margins set differently in IE6/7.
 */
p,
pre {
  margin: 1em 0; }

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome.
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * Addresses CSS quotes not supported in IE6/7.
 */
q {
  quotes: none; }

/*
 * Addresses `quotes` property not supported in S4.
 */
q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 75%; }

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

/*
 * Addresses paddings set differently in IE6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/*
 * Corrects list images handled incorrectly in IE7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE6/7/8/9, FF3.
 * 2. Improves image quality when scaled in IE7.
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */
  /* 2 */ }

/*
 * Corrects overflow displayed oddly in IE9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7.
 */
form {
  margin: 0; }

/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE6/7/8/9.
 * 2. Corrects text not wrapping in FF3.
 * 3. Corrects alignment displayed oddly in IE6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/*
 * Addresses FF3/4 setting `line-height` on `input` using `!important` in the
 * UA stylesheet.
 */
button,
input {
  line-height: normal; }

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default; }

/*
 * 1. Addresses box sizing set to content-box in IE8/9.
 * 2. Removes excess padding in IE8/9.
 * 3. Removes excess padding in IE7.
 *    Known issue: excess padding remains in IE6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/*
 * 1. Addresses `appearance` set to `searchfield` in S5, Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in S5, Chrome (include `-moz`
 *    to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in FF3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/******************************************************************
CUSTOMIZED RESET VALUES
I added these extra styles as a more personalized reset. Feel free
to remove them if you like or add your own. If you want to update
the normalize styles, make sure to edit from this point up.
******************************************************************/
/*
p {
	-webkit-hyphens: auto;
	-epub-hyphens:   auto;
	-moz-hyphens:    auto;
	hyphens:         auto;
}
*/
b, strong, .strong {
  font-weight: bold; }

dfn, em, .em {
  font-style: italic; }

small, .small {
  font-size: 75%; }

ul, ol {
  padding: 0;
  list-style: inside square; }

dd {
  margin: 0; }

.sidebar ul,
.sidebar ol,
.commentlist {
  list-style: none; }

/******************************************************************
Site Name: MEAT
Author: Eivin + Andrew

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of Sass' great features:
Mixins & Constants. I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

******************************************************************/
/*********************
CLEARFIXIN'
*********************/
.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "";
    display: table; }
  .clearfix:after {
    clear: both; }

.margin-auto {
  margin: 0 auto; }

.vertical {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

/********************
meat Mixin scss (migrated to keep mixins and styles separate)
********************/
.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.marginauto {
  margin: 0 auto !important;
  float: none !important; }

/*********************
TOOLS
*********************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/* Colours */
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/*********************
TYPOGRAPHY
*********************/
/******************************************************************
Site Name: MEAT
Author: Eivin + Andrew

Stylesheet: Fonts Stylesheet

This is where you can take advantage of Sass' great features:
Mixins & Constants. I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

******************************************************************/
@font-face {
  font-family: 'bariol-b';
  src: url("../font/bariol-b.eot");
  src: url("../font/bariol-bd41d.eot?#iefix") format("embedded-opentype"), url("../font/bariol-b.woff") format("woff"), url("../font/bariol-b.ttf") format("truetype"), url("../font/bariol-b.svg#bariol-b") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'bariol';
  src: url("../font/bariol.eot");
  src: url("../font/bariold41d.eot?#iefix") format("embedded-opentype"), url("../font/bariol.woff") format("woff"), url("../font/bariol.ttf") format("truetype"), url("../font/bariol.svg#bariol") format("svg");
  font-weight: normal;
  font-style: normal; }
/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic; }

/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic; }

/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
.alert-help, .validation_error, .alert-info, .alert-error, .gfield_description.validation_message, .alert-success {
  padding: 7px 14px;
  border: 1px solid;
  color: #fff; }

.alert-help, .validation_error {
  border-color: #e8d71c;
  background: #eadb33;
  color: #333333; }

.alert-info {
  border-color: #1d8dc0;
  background: #209dd6; }

.alert-error, .gfield_description.validation_message {
  border-color: #d92e38;
  background: #dd444d; }

.alert-success {
  border-color: #25bb6c;
  background: #29d078; }

/*
BASE (MOBILE) SIZE
This are the mobile styles. It's what people see on their phones. If
you set a great foundation, you won't need to add too many styles in
the other stylesheets. Remember, keep it light: Speed is Important.
*/
/******************************************************************
Site Name: MEAT
Author: Eivin + Andrew

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/
/*********************
GENERAL STYLES
*********************/
p {
  margin: 0 0 1em 0; }

body {
  background: #fff;
  font-family: "bariol", "Helvetica", sans-serif;
  font-size: 80%;
  line-height: 1.5;
  color: #898989; }

#content {
  /*background: url("../images/background.jpg") #fff;*/
      background: beige;
      margin: 0;
       }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

cite {
  font-style: normal; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizelegibility;
  /*color: #00b9ee;*/
  font-weight: 100;
  margin: 0; }

h1, .h1 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.18;
  font-weight: 300; }

h2, .h2 {
  font-size: 21px;
  font-size: 1.3125rem;
  line-height: 1.1; }

h3, .h3 {
  font-size: 19.2px;
  font-size: 1.2rem;
  line-height: 1; }

h4, .h4 {
  font-size: 17.6px;
  font-size: 1.1rem;
  line-height: 1; }

h5, .h5 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1; }

h6, .h6 {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1; }

header + section h2:first-child {
  margin-top: 16px;
  margin-top: 1rem; }

.header {
  background: #fff;
  text-align: center;
  padding: 20px; }

hr {
  margin: 13.8121546961% 0;
  border: 0;
  border-bottom: 1px solid #000; }

/*********************
LINK STYLES
*********************/
a, a:visited {
  color: #00b9ee;
  text-decoration: none;
  /* on hover */
  /* on click */
  /* mobile tap color */ }
  a:hover, a:focus, a:visited:hover, a:visited:focus {
    color: #0095c0; }
  a:link, a:visited:link {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3); }

/*********************
NAVIGATION STYLES
*********************/
/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/
.clickable, .nav li a {
  padding: 2.7624309392% 5.5248618785%; }

.clickable {
  margin: 0;
  color: #686868;
  cursor: pointer;
  position: relative;
  padding: 20px 8px 0;
  float: right;
  width: 18%;
  position: absolute;
  top: 0;
  right: 0; }

.menu-icon {
  margin-top: 0px;
  padding: 0 4px; }
  .menu-icon div {
    height: 4px;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 1px;
    background: #686868; }
  .menu-icon:after {
    content: "Menu";
    font-size: 12px;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-family: "bariol", "Helvetica", sans-serif;
    display: block;
    text-align: center; }

#logo {
  display: block;
  text-align: center;
  width: 100%; }
  #logo a {
    border-bottom: 0; }
  #logo img {
    max-width: 280px;
    width: 100%;
    height: auto;
    margin: 0 auto; }

.header nav {
  position: relative; }

.nav {
  border-top: 1px solid #898989;
  margin: 0;
  font-family: "bariol", "Helvetica", sans-serif;
  /* end .menu li */ }
  @media only screen and (max-width: 47.9em) {
    .js .nav {
      overflow: hidden;
      max-height: 0;
      -webkit-transition: 0.4s all "ease-in-out";
      -transition: 0.4s all "ease-in-out";
      transition: 0.4s all "ease-in-out"; }
      .js .nav.show {
        max-height: 2000px; } }
  .js .nav {
    border-top: 0;
    left: 0;
    right: 0;
    display: inline-block;
    width: 100%;
    position: relative;
    top: 0;
    z-index: 5; }
    .js .nav li a {
      width: 100%; }
  .nav li a {
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid #898989;
    color: #534741; }
  @media only screen and (max-width: 47.9em) {
    .js .nav li ul.sub-menu, .js
    .nav li ul.children {
      overflow: hidden;
      max-height: 0;
      -webkit-transition: 0.4s all "ease-in-out";
      -transition: 0.4s all "ease-in-out";
      transition: 0.4s all "ease-in-out"; }
      .js .nav li ul.sub-menu.show, .js
      .nav li ul.children.show {
        max-height: 2000px; } }
  .nav li ul.sub-menu li a,
  .nav li ul.children li a {
    padding-left: 11.0497237569%; }

/* end .nav */
/*********************
POSTS & CONTENT STYLES
*********************/
.wrap {
  padding: 0 20px; }

#upload, #main {
  padding-top: 1em; }

.correct {
  background: #29d078;
  border: 7px solid #29d078; }

.wrong {
  background: #dd444d;
  border: 7px solid #dd444d; }

.round {
  border-radius: 100%;
  height: 100px;
  width: 100px;
  display: inline-block;
  position: relative;
  z-index: 3;
  margin: 10px; }
  .round img {
    border-radius: 100%; }

.circle {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 31px;
  max-height: 31px;
  width: 51px;
  height: 51px; }

img {
  margin: 0;
  width: 185px;
  height: auto; }
.q-img{
  height: 200px
}
.logo{
  width: 100%;
}
/* post meta */
.byline {
  color: #999; }

.entry-content {
  /*
  image alignment on a screen this size may be
  a bit difficult. It's set to start aligning
  and floating images at the next breakpoint,
  but it's up to you. Feel free to change it up.
  */ }
  .entry-content dd {
    margin-left: 0;
    color: #787878; }
  .entry-content video, .entry-content object {
    max-width: 100%;
    height: auto; }
  .entry-content pre {
    background: #eee;
    border: 1px solid #cecece;
    padding: 10px; }

/* end .entry-content */
.wp-caption {
  max-width: 100%;
  background: #eee;
  padding: 5px; }
  .wp-caption p.wp-caption-text {
    font-size: 0.85em;
    margin: 4px 0 7px;
    text-align: center; }

/* end .wp-caption */
/******************************************************************
PAGE NAVI STYLES
******************************************************************/
.page-navigation,
.wp-prev-next {
  margin: 1.1em 0 2.2em; }

.meat_page_navi {
  /* current page link */
  /* end .meat_page_navi .bpn-current */
  /* common styles for page-navi links */
  /* remove the bg on end links */ }
  .meat_page_navi li {
    float: left;
    margin-left: 10px; }
    .meat_page_navi li a {
      padding: 3px 6px;
      display: block;
      text-decoration: none;
      position: relative; }
      .meat_page_navi li a:hover, .meat_page_navi li a:focus {
        color: #f01d4f;
        text-decoration: underline; }
  .meat_page_navi li.bpn-current {
    padding: 3px 6px;
    border-bottom: 2px solid #f01d4f;
    position: relative; }
  .meat_page_navi li.bpn-prev-link,
  .meat_page_navi li.bpn-next-link {
    font-weight: 700; }
    .meat_page_navi li.bpn-prev-link a,
    .meat_page_navi li.bpn-next-link a {
      padding: 0; }
  .meat_page_navi li.bpn-prev-link a:hover,
  .meat_page_navi li.bpn-next-link a:hover,
  .meat_page_navi li.bpn-first-page-link a:hover,
  .meat_page_navi li.bpn-last-page-link a:hover {
    background: none; }

/* end .meat_page_navi */
/* fallback previous & next links */
.wp-prev-next .prev-link {
  float: left; }
.wp-prev-next .next-link {
  float: right; }

/* end .wp-prev-next */
/******************************************************************
COMMENT STYLES
******************************************************************/
.commentlist {
  /* general comment classes */
  /* vcard */
  /* end .commentlist .vcard */
  /* comment content */
  /* end .commentlist .comment_content */
  /* comment reply link */
  /* end .commentlist .comment-reply-link */ }
  .commentlist li {
    position: relative;
    clear: both;
    overflow: hidden;
    list-style-type: none;
    margin-bottom: 1.5em;
    padding: 0.7335em 10px;
    /* end .commentlist li ul.children */ }
    .commentlist li:last-child {
      margin-bottom: 0; }
    .commentlist li ul.children {
      margin: 0; }
  .commentlist li[class*=depth-] {
    margin-top: 1.1em; }
  .commentlist li.depth-1 {
    margin-left: 0;
    margin-top: 0; }
  .commentlist li:not(.depth-1) {
    margin-right: -10px;
    margin-left: -10px;
    margin-top: 0;
    padding-bottom: 0; }
  .commentlist .odd {
    background: #eee; }
  .commentlist .even {
    background: #fefefe; }
  .commentlist .vcard {
    margin-left: 50px; }
    .commentlist .vcard cite.fn {
      font-weight: 700;
      font-style: normal; }
    .commentlist .vcard time {
      float: right; }
      .commentlist .vcard time a {
        color: #999;
        text-decoration: none; }
        .commentlist .vcard time a:hover {
          text-decoration: underline; }
    .commentlist .vcard img.avatar {
      position: absolute;
      left: 10px;
      padding: 2px;
      border: 1px solid #cecece;
      background: #fff; }
  .commentlist .comment_content {
    margin-left: 50px; }
    .commentlist .comment_content p {
      margin: 0.7335em 8px 1.5em;
      font-size: 1em;
      line-height: 1.5em; }
  .commentlist .comment-reply-link {
    text-decoration: none;
    float: right;
    background: #4598bb;
    padding: 3px 5px;
    color: #fff;
    opacity: 0.65;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 0.9em; }
    .commentlist .comment-reply-link:hover, .commentlist .comment-reply-link:focus {
      opacity: 1; }

/* end .commentlist */
/*
.gfield_label{
	display: none;
}
*/
.gform_button_select_files {
  margin-left: 10px; }

.ginput_preview {
  background: #fff;
  display: block;
  margin-bottom: 3px;
  padding: 1px 8px;
  width: 100%; }
  .ginput_preview img {
    vertical-align: middle; }
  .ginput_preview strong {
    font-weight: 100; }

.gfield_checkbox input[type=checkbox] {
  display: none; }
  .gfield_checkbox input[type=checkbox]:checked + label:before {
    background: url("../images/tick.svg") repeat scroll 0 0/100% auto #29d078; }
  .gfield_checkbox input[type=checkbox] + label:before {
    content: "";
    height: 33px;
    width: 33px;
    background: #fff;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle; }

.gform_confirmation_message {
  background: #29d078;
  color: #fff;
  margin: 30px 0;
  padding: 60px 20px;
  text-align: center;
  font-size: 24px;
  font-size: 1.5rem; }

/******************************************************************
COMMENT FORM STYLES
******************************************************************/
.respond-form label {
  display: block; }

form li {
  list-style-type: none;
  clear: both;
  margin-bottom: 0.7335em; }
form input[type=text],
form input[type=email],
form input[type=url],
form textarea {
  padding: 10px;
  background: #fff;
  font-size: 16px;
  font-size: 1rem;
  color: #797979;
  font-family: "Helvetica", sans-serif;
  width: 100%;
  border-radius: 0;
  /* form validation */ }
form .email {
  height: 30px; }
form select,
form input[type=text],
form input[type=email],
form input[type=url] {
  max-width: 100%; }
form textarea {
  resize: none;
  width: 100%;
  height: 150px; }

/* comment form title */
#comment-form-title {
  margin: 0 0 1.1em; }

/* allowed tags */
/* no comments */
.sidebar ul {
  margin: 0; }
.sidebar li a {
  display: block; }

/*********************
FOOTER STYLES
*********************/
form .alert p {
  padding: 0; }

.entry-content ul {
  list-style-type: disc;
  padding-left: 16.5745856354%; }

/*********************
BUTTON STYLES
*********************/
.button {
  background: #29d078;
  border-radius: 2px;
  text-indent: 0;
  display: inline-block;
  color: #fff;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  padding: 2.7624309392% 5.5248618785% 2.7624309392% 5.5248618785%;
  outline: none;
  border: none;
  -webkit-font-smoothing: antialiased;
  /*
  	&:link{ //Outbound links
  		background: $brand-highlight;
  		color: $white;
  		border-bottom-color: darken($brand-highlight, 20%);
  		
  		&:active{
  			box-shadow: inset 0px 10px 5px -7px darken($brand-highlight, 20%);
  		}	
  	
  		&:visited{
  			color: $white;
  			border-bottom-color: darken($brand-highlight, 20%);
  		}
  	}
  */ }
  .button:hover {
    background: #3ad885;
    color: #fff; }
  .button:active {
    background: #21a55f;
    position: relative;
    box-shadow: inset 0px 10px 5px -7px #187b47; }
  .button:visited {
    color: #fff;
    background: #29d078;
    border-bottom-color: #187b47; }
  .button:focus {
    color: #fff; }

.gform_delete {
  max-width: 70px;
  height: auto;
  position: relative;
  top: -3px; }

.gform_validation_container {
  display: none; }

.gform_delete {
  max-width: 70px;
  height: auto;
  cursor: pointer; }

.gform_wrapper img {
  width: auto; }

.gform_drop_area {
  background: #fff;
  padding: 30px;
      border: 1px solid #D8D8D8;
  text-align: center;
      width: 100%; }

/*
.gform_delete{
	display: none;
	
	& + strong{
		&:before{
			content: url('');
		}
	}
}
*/
/*********************
FOOTER STYLES
*********************/
footer {
  background: #fff;
  color: #00b9ee;
  padding: 30px 0;
  margin-top: 20px;
  text-align: center; }
  footer img {
    margin: 0 10px; }

.footer {
  font-size: 19.2px;
  font-size: 1.2rem; }
  .footer .menu {
    margin: 0; }
  .footer a {
    color: #00b9ee;
    text-decoration: none; }
  .footer img {
    max-width: 51px;
    max-height: 51px; }

.copyright {
  text-align: center; }

/*
LARGER MOBILE DEVICES
This is for devices like the Galaxy Note or something that's
larger than an iPhone but smaller than a tablet. Let's call them
tweeners.
*/
@media only screen and (min-width: 30.063em) {
  /******************************************************************
  Site Name: MEAT 
  Author: Eivin + Andrew 
  
  Stylesheet: 481px and Up Stylesheet
  
  This stylesheet is loaded for larger devices. It's set to 
  481px because at 480px it would load on a landscaped iPhone.
  This isn't ideal because then you would be loading all those
  extra styles on that same mobile connection. 
  
  A word of warning. This size COULD be a larger mobile device,
  so you still want to keep it pretty light and simply expand
  upon your base.scss styles.
  
  ******************************************************************/
  .round {
    border-radius: 100%;
    height: 140px;
    width: 140px;
    display: inline-block;
    position: relative;
    z-index: 3;
    margin: 10px; }
    .round img {
      border-radius: 100%; }

  .circle {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 51px;
    max-height: 51px;
    width: 51px;
    height: 51px; }

  /*********************
  POSTS & CONTENT STYLES
  *********************/
  /* entry content */
  .entry-content {
    /* at this larger size, we can start to align images */ }
    .entry-content .alignleft, .entry-content img.alignleft {
      margin-right: 1.5em;
      display: inline;
      float: left; }
    .entry-content .alignright, .entry-content img.alignright {
      margin-left: 1.5em;
      display: inline;
      float: right; }
    .entry-content .aligncenter, .entry-content img.aligncenter {
      margin-right: auto;
      margin-left: auto;
      display: block;
      clear: both; }

  /* end .entry-content */
  /*********************
  FOOTER STYLES
  *********************/
  .footer {
    padding: 1em 0.5em;
    text-align: center; }
    .footer .widget {
      width: 45.85636%;
      width: calc((100% - 3em) / 2);
      position: relative;
      float: left;
      margin-left: 2.76243%;
      margin-left: calc(1em * 1); }
      .footer .widget:first-child {
        margin-left: 0; }
      .footer .widget ul {
        padding: 0;
        margin: 0; }
        .footer .widget ul li {
          padding: 0;
          margin: 0; } }
    @media only screen and (min-width: 30.063em) and (max-width: 47.9em) {
      .footer .widget {
        margin-bottom: 2em;
        text-align: center; }
        .footer .widget:nth-child(odd) {
          margin-left: 0; } }

/*
TABLET & SMALLER LAPTOPS
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*/
@media only screen and (min-width: 47.9em) {
  /******************************************************************
  Site Name: MEAT
  Author: Eivin + Andrew
  
  Stylesheet: Grid Stylesheet
  
  I've seperated the grid so you can swap it out easily. It's
  called at the top the style.scss stylesheet.
  
  There are a ton of grid solutions out there. You should definitely
  experiment with your own. Here are some recommendations:
  
  http://gridsetapp.com - Love this site. Responsive Grids made easy.
  http://susy.oddbird.net/ - Grids using Compass. Very elegant.
  http://gridpak.com/ - Create your own responsive grid.
  
  The grid below is a combination of the 1140 grid and Twitter Boostrap. 
  I liked 1140 but Boostrap's grid was way more detailed so I merged them 
  together, let's see how this works out. If you want to use 1140, the original 
  values are commented out on each line.
  
  ******************************************************************/
  .onecol {
    width: 5.800271639%;
    width: calc((99.99% - 11rem) / 12); }

  .twocol {
    width: 14.3629742173%;
    width: calc((99.99% - 5rem) / 6); }

  .threecol {
    width: 22.9256767956%;
    width: calc((99.99% - 3rem) / 4); }

  .fourcol {
    width: 31.4883793738%;
    width: calc((99.99% - 2rem) / 3); }

  .fivecol {
    width: 40.0510819521%;
    width: calc((99.99% - 1.4rem) / 2.4); }

  .sixcol {
    width: 48.6137845304%;
    width: calc((99.99% - 1rem) / 2); }

  .sevencol {
    width: 57.1764871087%;
    width: calc((99.99% - 0.7142857143rem) / 1.7142857143); }

  .eightcol {
    width: 65.7391896869%;
    width: calc((99.99% - 0.5rem) / 1.5); }

  .ninecol {
    width: 74.3018922652%;
    width: calc((99.99% - 0.3333333333rem) / 1.3333333333); }

  .tencol {
    width: 82.8645948435%;
    width: calc((99.99% - 0.2rem) / 1.2); }

  .elevencol {
    width: 91.4272974217%;
    width: calc((99.99% - 0.0909090909rem) / 1.0909090909); }

  .twelvecol {
    width: 99.99%;
    width: calc((99.99% - 0rem) / 1); }

  /*	//This is how i've been using responsive widths, you're able to overwrite these per stylesheet
  
  	article {
  		width: col_width(6);
  		width: col_width(6, true);
  		
  		float: left;
  		margin-left: $gutter;
  		margin-left: calc(1rem * 1);	
  			
  		&.first{ margin-left: 0;}
  		&.last{ float: right;}
  	}
  */
  .onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol, .fifthcol, .threefifth {
    position: relative;
    float: left;
    margin-left: 2.7624309392%;
    margin-left: calc(1rem * 1); }

  .first {
    margin-left: 0; }

  .last {
    float: right; }

  .gutter-top {
    margin-top: 2.7624309392%;
    margin-top: calc(1rem * 1); }

  .gutter-bottom {
    margin-bottom: 2.7624309392%;
    margin-bottom: calc(1rem * 1); }

  /******************************************************************
  Site Name: MEAT
  Author: Eivin + Andrew
  
  Stylesheet: Tablet & Small Desktop Stylesheet
  
  Here's where you can start getting into the good stuff.
  This size will work on iPads, other tablets, and desktops.
  So you can start working with more styles, background images,
  and other resources. You'll also notice the grid starts to
  come into play. Have fun!
  
  ******************************************************************/
  /*********************
  GENERAL STYLES
  *********************/
  body {
    font-size: 100%;
    line-height: 1.5; }

  /*********************
  LAYOUT & GRID STYLES
  *********************/
  .wrap {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px; }

  #upload, #main {
    padding-top: 0; }

  /*********************
  HEADER STYLES
  *********************/
  h1, .h1 {
      line-height: 1.5; }

  h2, .h2 {
    font-size: 32px;
    font-size: 2rem;
    line-height: 2; }

  h3, .h3 {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 2; }

  h4, .h4 {
    font-size: 20px;
    font-size: 1.25rem; }

  h5, .h5 {
    font-size: 16px;
    font-size: 1rem; }

  h6, .h6 {
    font-size: 13.6px;
    font-size: 0.85rem; }

  /*********************
  HEADER STYLES
  *********************/
  .header {
    padding: 40px 0 10px; }
    .header .first {
      text-align: left; }
    .header .last {
      text-align: right; }

  #logo {
    width: 22.9256767956%;
    width: calc((99.99% - 3rem) / 4);
    float: left;
    margin-left: 0; }
    #logo img {
      margin: 0em auto;
      max-width: 100%;
      position: relative;
      z-index: 20; }

  .overflow {
    overflow: hidden; }

  img {
    vertical-align: bottom; }

  /*********************
  NAVIGATION STYLES
  *********************/
  .mobile-only {
    display: none;
    visibility: hidden; }

  .nav {
    text-align: center;
    margin: 10px 0;
    vertical-align: middle;
    border-bottom: 2px solid #ececec;
    /* end .menu ul li */
    /* highlight current page */
    /* end current highlighters */ }
    .js .nav {
      display: block;
      top: auto;
      right: auto;
      left: auto;
      max-height: 100%; }
    .nav li {
      display: inline-block;
      position: relative;
      border-radius: 3px 3px 0 0;
      /*
      you can use hover styles here even though this size
      has the possibility of being a mobile device.
      */
      /*
      plan your menus and drop-downs wisely.
      */
      /* showing sub-menus */ }
      .nav li:hover, .nav li:focus {
        color: #fff;
        background: #00b9ee; }
        .nav li:hover a, .nav li:focus a {
          color: #fff; }
      .nav li a {
        border-bottom: 0;
        text-transform: uppercase;
        color: #686868;
        font-size: 13.6px;
        font-size: 0.85rem;
        letter-spacing: 0.05em; }
        .nav li a:hover, .nav li a:focus {
          color: #fff;
          background: #0091bb; }
      .js .nav li + li ul.show.sub-menu:before, .js .nav li + li ul.show.children:before,
      .nav li + li ul.sub-menu:before,
      .nav li + li ul.children:before {
        content: "\e000";
        font-size: 104px;
        font-size: 6.5rem; }
      .js .nav li ul.show.sub-menu, .js .nav li ul.show.children,
      .nav li ul.sub-menu,
      .nav li ul.children {
        margin-top: 0;
        border-top: 0;
        position: absolute;
        display: none;
        z-index: 15;
        text-align: left;
        color: #fff;
        background: #00b9ee;
        padding: 1em 1000em 1.5em;
        margin: 0 -1000em;
        /*
        			&:before{
        				font-family: $icon;
        				@include font-size(6);
        				font-weight: 100;
        				left: 49.2%;
        				position: absolute;
        				top: 12%;
        				vertical-align: middle;
        				z-index: 130;
        				content: "\e008";
        				
        			}
        */
        /* highlight sub-menu current page */ }
        .js .nav li ul.show.sub-menu li, .js .nav li ul.show.children li,
        .nav li ul.sub-menu li,
        .nav li ul.children li {
          /*
          if you need to go deeper, go nuts
          just remember deeper menus suck
          for usability. k, bai.
          */ }
          .js .nav li ul.show.sub-menu li:hover a, .js .nav li ul.show.sub-menu li:focus a, .js .nav li ul.show.children li:hover a, .js .nav li ul.show.children li:focus a,
          .nav li ul.sub-menu li:hover a,
          .nav li ul.sub-menu li:focus a,
          .nav li ul.children li:hover a,
          .nav li ul.children li:focus a {
            background: #0091bb;
            border-radius: 2px; }
          .js .nav li ul.show.sub-menu li a, .js .nav li ul.show.children li a,
          .nav li ul.sub-menu li a,
          .nav li ul.children li a {
            font-size: 13.6px;
            font-size: 0.85rem;
            padding: 2px 0 2px 14px;
            border-right: 0;
            display: block;
            width: 200px;
            color: #fff; }
          .js .nav li ul.show.sub-menu li:last-child a, .js .nav li ul.show.children li:last-child a,
          .nav li ul.sub-menu li:last-child a,
          .nav li ul.children li:last-child a {
            border-bottom: 0; }
      .nav li:hover ul {
        top: auto;
        display: block;
        padding: 1em 1000em;
        margin: 0 -1000em; }

  /* end .nav */
  .round {
    border-radius: 100%;
    height: 150px;
    width: 150px;
    display: inline-block;
    position: relative;
    z-index: 3;
    margin: 10px; }
    .round img {
      border-radius: 100%; }

  .circle {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 51px;
    max-height: 51px;
    width: 51px;
    height: 51px; }

  /*********************
  SIDEBARS & ASIDES
  *********************/
  .sidebar img {
    width: 100%;
    height: auto; }

  .widget ul li {
    margin-bottom: 0.75em;
    /* deep nesting */ }
    .widget ul li ul {
      margin-top: 0.75em;
      padding-left: 1em; }

  input[type="search"] {
    width: 61%;
    float: left;
    padding: 2% 1%; }

  .search-form .button {
    float: right;
    width: 35%; }

  /*********************
  FOOTER STYLES
  *********************/
  /*
  you'll probably need to do quite a bit
  of overriding here if you styled them for
  mobile. Make sure to double check these!
  */
  footer {
    text-align: left; }

  .footer {
    text-align: left; }
    .footer img {
      margin: 0 30px 0 0; }
    .footer .widget {
      width: 22.9256767956%;
      width: calc((99.99% - 3rem) / 4);
      float: left;
      margin-left: 2.7624309392%;
      margin-left: calc(1rem * 1);
      position: relative; }
      .footer .widget.first {
        margin-left: 0; }
      .footer .widget.last {
        float: right; }
      .footer .widget:first-child {
        margin-left: 0; }
      .footer .widget ul {
        padding: 0;
        margin: 0; }
        .footer .widget ul li {
          padding: 0;
          margin: 0; }
    .footer .half-horizontal {
      border-bottom: 1px solid #000;
      padding-bottom: 0.5em;
      margin-bottom: 1em; }
    .footer a:hover {
      color: #00b9ee;
      text-decoration: underline; }

  .footer-links ul li {
    /*
    be careful with the depth of your menus.
    it's very rare to have multi-depth menus in
    the footer.
    */ }

  /* end .footer-links */
  .copyright {
    text-align: right; }
    .copyright br {
      display: none; } }
/*
DESKTOP
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*/
@media only screen and (min-width: 64.375em) {
  /******************************************************************
  Site Name: MEAT 
  Author: Eivin + Andrew 
  
  Stylesheet: Desktop Stylsheet
  
  This is the desktop size. It's larger than an iPad so it will only
  be seen on the Desktop. 
  
  ******************************************************************/
  .wrap {
    padding: 0; }

  .round {
    border-radius: 100%;
    height: 200px;
    width: 200px;
    display: inline-block;
    position: relative;
    z-index: 3;
    margin: 30px; }
    .round img {
      border-radius: 100%; }

  .circle {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 51px;
    max-height: 51px;
    width: 51px;
    height: 51px; } }
/*
LARGE VIEWING SIZE
This is for the larger monitors and possibly full screen viewers.
*/
@media only screen and (min-width: 77.5em) {
  /******************************************************************
  Site Name: MEAT 
  Author: Eivin + Andrew 
  
  Stylesheet: Super Large Monitor Stylesheet
  
  You can add some advanced styles here if you like. This kicks in
  on larger screens.
  
  ******************************************************************/ }
/*
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution. You can also create a media
query for retina AND a certain size if you want. Go Nuts.
*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /******************************************************************
  Site Name: MEAT 
  Author: Eivin + Andrew 
  
  Stylesheet: Retina Screens & Devices Stylesheet
  
  When handling retina screens you need to make adjustments, especially
  if you're not using font icons. Here you can add them in one neat
  place.
  
  ******************************************************************/
  /* 
  
  EXAMPLE 
  Let's say you have an image and you need to make sure it looks ok
  on retina screens. Let's say we have an icon which dimension are
  24px x 24px. In your regular stylesheets, it would look something
  like this:
  
  .icon {
  	width: 24px;
  	height: 24px;
  	background: url(img/test.png) no-repeat;
  }
  
  For retina screens, we have to make some adjustments, so that image
  doesn't look blurry. So, taking into account the image above and the
  dimensions, this is what we would put in our retina stylesheet:
  
  .icon {
  	background: url(img/test@2x.png) no-repeat;
  	background-size: 24px 24px;
  }
  
  So, you would create the same icon, but at double the resolution, meaning 
  it would be 48px x 48px. You'd name it the same, but with a @2x at the end
  (this is pretty standard practice). Set the background image so it matches
  the original dimensions and you are good to go. 
  
  */ }
/*
iPHONE 5 MEDIA QUERY
Want to get fancy for no good reason? Knock yourself out.
*/
/*
PRINT STYLESHEET
Feel free to customize this. Remember to add things that won't make
sense to print at the bottom. Things like nav, ads, and forms should
be set to display none.
*/
@media print {
  /******************************************************************
  Site Name: MEAT
  Author: Eivin + Andrew
  
  Stylesheet: Print Stylesheet
  
  This is the print stylesheet. There's probably not a lot
  of reasons to edit this stylesheet. If you want to
  though, go for it.
  
  ******************************************************************/
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }
    a:after, a:visited:after {
      content: " (" attr(href) ")"; }
    a abbr[title]:after, a:visited abbr[title]:after {
      content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; }

  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none; } }
.example-img{
  width: 200px;
    /*margin-left: 27%;*/
    margin-bottom: 50px;
display: block;
}
.develope{
    font-size: 10px;
    float: right;
}
.bottom-text{
  font-size: 20px;
  color: #4C4C4C;
}
.xh{
 font-size: 60px;
}
.header {
    margin-bottom: 40px;
    }